<html>
  <head>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"/>
  </head>
  <body>
    <i class="weather-icon sun fa fa-sun"></i>
    <i class="weather-icon cloud fa fa-cloud"></i>
    <i class="weather-icon rain fa fa-cloud-rain"></i>
    
    <div class="main-container">
      <div class="register-container">
        <h2>Registe-se</h2>
        <div>
          <form (ngSubmit)="onRegister()">
  
            <label for="email">Email:</label>
            <input
              id="email"
              type="email"
              [(ngModel)]="email"
              (ngModelChange)="vericficationEmail()"
              name="email"
              placeholder="Introduza um email" 
              required/>
              <p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
          
            <label for="password">Password:</label>
            <input
              id="password"
              type="password"
              [(ngModel)]="password"
              (ngModelChange)="isPasswordValid()"
              name="password"
              placeholder="Introduza uma password"
              required
            />
            <p *ngIf="!passwordCaracteres" style="color: green; text-align: left;">
              A palavra-passe deve conter pelo menos 8 caracteres.
              <br>
              Uma letra maiúscula
              <br>
              Um número e um carácter especial.
            </p>
            <br />
            <label for="passwordconfirm">Confirme a sua password: </label>
            <input
              type="password"
              id="passwordconfirm"
              [(ngModel)]="passwordconfirm"
              (ngModelChange)="doPasswordsMatch()"
              name="passwordconfirm"
              placeholder="Introduza novamente a password"
              required/>
            <br>
            <p
              *ngIf="!doPasswordsMatch()"
              style="color: red"
            >
              Password não coincide
            </p>
          <br>
            <button
              type="submit"
              [disabled]="!doPasswordsMatch() || !passwordCaracteres"
              [ngClass]="{'disabled-button': !doPasswordsMatch() || !passwordCaracteres}"
            >
              Registar
            </button>
          </form>
        </div>        
      </div>
    </div>
  </body>
</html>

